1 BITMAP pixmaps\plan000.bmp
2 BITMAP pixmaps\plan001.bmp
3 BITMAP pixmaps\plan010.bmp
4 BITMAP pixmaps\plan011.bmp
5 BITMAP pixmaps\plan100.bmp
6 BITMAP pixmaps\plan101.bmp
7 BITMAP pixmaps\plan110.bmp
8 BITMAP pixmaps\plan111.bmp
9 BITMAP pixmaps\planunkn.bmp
10 BITMAP pixmaps\mplan000.bmp
11 BITMAP pixmaps\mplan001.bmp
12 BITMAP pixmaps\mplan010.bmp
13 BITMAP pixmaps\mplan011.bmp
14 BITMAP pixmaps\mplan100.bmp
15 BITMAP pixmaps\mplan101.bmp
16 BITMAP pixmaps\mplan110.bmp
17 BITMAP pixmaps\mplan111.bmp
18 BITMAP pixmaps\mplanunkn.bmp
