1 BITMAP pixmaps\bronco\plan000.bmp
2 BITMAP pixmaps\bronco\plan001.bmp
3 BITMAP pixmaps\bronco\plan010.bmp
4 BITMAP pixmaps\bronco\plan011.bmp
5 BITMAP pixmaps\bronco\plan100.bmp
6 BITMAP pixmaps\bronco\plan101.bmp
7 BITMAP pixmaps\bronco\plan110.bmp
8 BITMAP pixmaps\bronco\plan111.bmp
9 BITMAP pixmaps\bronco\planunkn.bmp
10 BITMAP pixmaps\bronco\mplan000.bmp
11 BITMAP pixmaps\bronco\mplan001.bmp
12 BITMAP pixmaps\bronco\mplan010.bmp
13 BITMAP pixmaps\bronco\mplan011.bmp
14 BITMAP pixmaps\bronco\mplan100.bmp
15 BITMAP pixmaps\bronco\mplan101.bmp
16 BITMAP pixmaps\bronco\mplan110.bmp
17 BITMAP pixmaps\bronco\mplan111.bmp
18 BITMAP pixmaps\bronco\mplanunkn.bmp
